
body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .quiz-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
  }
  
  .quiz-header {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  label {
    margin-left: 8px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #submit{
    background-color: #028d19;
  }
  
  .quiz-container
  {
    display: none;
  }

  #quiz1{
    display: block;
  }


  button:hover {
    background-color: #2980b9;
  }
  